/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace presentation "org.kdata.mobile.presentation.*";
@namespace component "org.kdata.mobile.presentation.component.*";


global
{
}
s|Label
{
	fontFamily : arial;
	color 	   : yellow;
}
component|LoadingSpinner
{
	tickColor : green;
}

component|TouchCheckBox
{
	skinClass : ClassReference("components.TouchCheckboxSkin1")
}
s|SkinnableContainer
{
	skinClass : ClassReference("components.ScrollPanelSkin1")
}
