/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace presentation "org.kdata.mobile.presentation.*";
@namespace component "org.kdata.mobile.presentation.component.*";


global
{
	content-background-color: #000000;
}
s|Label
{
	fontFamily : arial;
	color 	   : yellow;
}
component|LoadingSpinner
{
	tickColor : green;
}